.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FA6775;
  height: 130px;
  padding: 20px 0 40px;
  color: #FDD;
  font-family: 'Itim', cursive;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#box {
  display: table;
  margin: 20px auto;
}